<a href="https://colab.research.google.com/github/ritashreedey/Deep-Learning-Project/blob/main/Customer%20Churn_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tensorflow-gpu

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-gpu in /usr/local/lib/python3.8/dist-packages (2.11.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (57.4.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (2.11.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (0.28.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (21.3)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (14.0.6)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.6.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.50.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.14.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (3.3.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.3.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (2.11.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (3.1.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (3.19.6)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.15.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (4.1.1)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (22.11.23)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.21.6)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (0.4.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (2.1.1)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (2.11.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow-gpu) (0.38.4)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (3.4.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (1.0.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (2.14.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (2.23.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (1.8.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-gpu) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-gpu) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-gpu) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-gpu) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-gpu) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-gpu) (3.10.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-gpu) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-gpu) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-gpu) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-gpu) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-gpu) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-gpu) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->tensorflow-gpu) (3.0.9)

In [ ]:
import tensorflow as tf
print(tf.__version__)

2.11.0

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
X = df.iloc[:,3:13]
y = df.iloc[:,13]

In [ ]:
##Feature Engineering
geography = pd.get_dummies(X['Geography'] , drop_first = True)
gender = pd.get_dummies(X['Gender'] , drop_first = True)

In [ ]:
X = X.drop(['Geography','Gender'] , axis = 1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10

In [ ]:
X = pd.concat([X , geography ,gender] , axis = 1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU , PReLU , ELU , ReLU
from tensorflow.keras.layers import Dropout

In [ ]:
classifier = Sequential()

In [ ]:
classifier.add(Dense(units = 11 , activation = 'relu'))    #input layer
classifier.add(Dense(units = 7, activation = 'relu'))      #1st hidden layer
classifier.add(Dense(units = 6, activation = 'relu'))      #2nd hidden layer
classifier.add(Dense(1 , activation = 'sigmoid'))          #output layer

In [ ]:
classifier.compile(optimizer = 'adam' , loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
# Early Stopping

early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)

In [ ]:
model_history = classifier.fit(X_train , y_train ,validation_split = 0.33 , batch_size = 10 , epochs =1000 , callbacks = early_stopping)

Epoch 1/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3067 - accuracy: 0.8746 - val_loss: 0.3827 - val_accuracy: 0.8459
Epoch 2/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3058 - accuracy: 0.8753 - val_loss: 0.3810 - val_accuracy: 0.8459
Epoch 3/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3061 - accuracy: 0.8755 - val_loss: 0.3844 - val_accuracy: 0.8459
Epoch 4/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3051 - accuracy: 0.8740 - val_loss: 0.3830 - val_accuracy: 0.8459
Epoch 5/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3071 - accuracy: 0.8755 - val_loss: 0.3807 - val_accuracy: 0.8429
Epoch 6/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3055 - accuracy: 0.8755 - val_loss: 0.3837 - val_accuracy: 0.8432
Epoch 7/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3063 - accuracy: 0.8720 - val_loss: 0.3848 - val_accuracy: 0.8425
Epoch 8/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3064 - accuracy: 0.8746 - val_loss: 0.3793 - val_accuracy: 0.8432
Epoch 9/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3059 - accuracy: 0.8735 - val_loss: 0.3823 - val_accuracy: 0.8444
Epoch 10/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3054 - accuracy: 0.8744 - val_loss: 0.3831 - val_accuracy: 0.8463
Epoch 11/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3050 - accuracy: 0.8740 - val_loss: 0.3819 - val_accuracy: 0.8436
Epoch 12/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3054 - accuracy: 0.8733 - val_loss: 0.3820 - val_accuracy: 0.8436
Epoch 13/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3046 - accuracy: 0.8772 - val_loss: 0.3814 - val_accuracy: 0.8410
Epoch 14/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3051 - accuracy: 0.8722 - val_loss: 0.3810 - val_accuracy: 0.8444
Epoch 15/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3046 - accuracy: 0.8763 - val_loss: 0.3834 - val_accuracy: 0.8444
Epoch 16/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3058 - accuracy: 0.8746 - val_loss: 0.3855 - val_accuracy: 0.8413
Epoch 17/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3055 - accuracy: 0.8757 - val_loss: 0.3793 - val_accuracy: 0.8436
Epoch 18/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3047 - accuracy: 0.8767 - val_loss: 0.3826 - val_accuracy: 0.8474
Epoch 19/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3045 - accuracy: 0.8755 - val_loss: 0.3893 - val_accuracy: 0.8432
Epoch 20/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3057 - accuracy: 0.8742 - val_loss: 0.3823 - val_accuracy: 0.8444
Epoch 21/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3045 - accuracy: 0.8724 - val_loss: 0.3906 - val_accuracy: 0.8485
Epoch 22/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3044 - accuracy: 0.8765 - val_loss: 0.3829 - val_accuracy: 0.8444
Epoch 23/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3046 - accuracy: 0.8768 - val_loss: 0.3877 - val_accuracy: 0.8451
Epoch 24/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3050 - accuracy: 0.8740 - val_loss: 0.3835 - val_accuracy: 0.8459
Epoch 25/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3051 - accuracy: 0.8748 - val_loss: 0.3843 - val_accuracy: 0.8436
Epoch 26/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3046 - accuracy: 0.8776 - val_loss: 0.3845 - val_accuracy: 0.8402
Epoch 27/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3045 - accuracy: 0.8742 - val_loss: 0.3835 - val_accuracy: 0.8395
Epoch 28/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3044 - accuracy: 0.8731 - val_loss: 0.3858 - val_accuracy: 0.8425
Epoch 28: early stopping

In [ ]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [ ]:
# Predicting

y_pred = classifier.predict(X_test)
y_pred = (y_pred >= 0.5)

63/63 [==============================] - 0s 1ms/step

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
cm = confusion_matrix(y_test , y_pred)
score = accuracy_score(y_test , y_pred)

In [ ]:
cm

array([[1517,   78],
       [ 214,  191]])

In [ ]:
score

0.854